@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap");

:root {
  --color-primary: #0c6cf2;
  --color-secondary: #7349f2;
  --color-accent: #f28b24;
  --color-dark: #121d33;
  --color-link: #677185;
  --color-link-hovered: #144699;
  --sm-border-rad: 4px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: #b0b0b0;
  color: #fff;
}

/* Typography */

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.4rem;
  line-height: 2.9rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.8rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
p {
  font-size: 1.7rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
  h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 5.2rem;
  }
}
li {
  list-style: none;
}

img {
  width: 100%;
}
body {
  font-family:
    "Inter",
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
}

/* Link */
a {
  text-decoration: none;
  color: var(--color-dark);
}

.link--boxed {
  color: var(--color-link);
  padding: 4px 8px;
  border-radius: var(--sm-border-rad);
  transition: all 300ms;
}

.link--boxed:hover {
  color: var(--color-link--hovered);
  font-weight: 500;
  background: #f0f2f7;
}

/* Badges */

.badge {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: var(--sm-border-rad);
  transition: background 0.3s;
  white-space: nowrap;
}

.badge--primary {
  background: #efecfe;
  color: var(--color-secondary);
}
.badge--primary:hover {
  background: #ded8fd;
}

.badge--secondary {
  background: #e6faec;
  color: #00994c;
}

.badge--secondary:hover {
  background: #d1f0db;
}

/* Icons */
.icon {
  width: 32px;
  height: 32px;
  /* overflow: visible; */
}

.media-icon__title {
  line-height: 2.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.media-icon {
  display: inline-flex;
  align-items: center;
  padding: 1.2rem;
  /* background: #efecfe; */
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .media-icon {
    padding: 1.6rem;
  }
}

.slider-icon {
  align-items: center;
  border-radius: calc(2 * var(--sm-border-rad));
  border: 1px solid currentColor;
  cursor: pointer;
  display: inline-flex;
  padding: 1.1rem;
}
.slider-icon--primary {
  color: var(--color-primary);
}
.slider-icon--secondary {
  color: var(--color-secondary);
}

.slider-icon--accent {
  color: var(--color-accent);
}
.slider-icon svg {
  width: 20px;
  height: 20px;
  color: inherit;
}

.slider-icon .arrow--right {
  transform: rotate(180deg);
}
.slider-icon .arrow--left {
  transform: initial;
}

.slider-icons__container {
  display: inline-flex;
  gap: 1rem;
}
.list-icon__container {
  display: inline-flex;
  padding: 1.2rem;
  align-items: center;
  border-radius: 20px;
}

.list-icon__container--primary {
  background: #ecf5fe;
}
.list-icon__container--secondary {
  background: #efecfe;
}
.list-icon__container--accent {
  background: #fff2e5;
}
.list-icon__container--green {
  background: #e6faec;
}
.list-icon__container--dark {
  background: #f0f2f7;
}
.list-icon {
  width: 32px;
  height: 32px;
}

/* Buttons */

.btn {
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.14px;
  line-height: 2rem;
  outline: 0;
  white-space: nowrap;
  transition: background 0.3s;
}

.media-btn {
  padding: 1rem 1.4rem;
}
.btn--primary {
  background: var(--color-primary);
}
.btn--secondary {
  background: var(--color-secondary);
}
.btn--accent {
  background: var(--color-accent);
}
.btn--dark {
  background: #50596b;
}
.btn--outline {
  color: var(--color-primary);
  border: 2px solid currentColor;
  background: transparent;
  padding: 0.8rem 1.2rem;
}
.login-bar .btn {
  padding: 10px 14px;
}
.login-bar .btn--sign-up {
  border: 2px solid var(--color-primary);
}
.login-bar .btn--sign-up:hover {
  background: #144699;
}
.login-bar .btn-login:hover {
  background: #dfe3eb;
}
@media screen and (min-width: 768px) {
  .btn {
    line-height: 2.6rem;
    font-size: 1.8rem;
    letter-spacing: 0.18px;
  }
  .media-btn {
    padding: 1.2rem 2.2rem;
  }
}

/* Inputs */
.input-group {
  display: flex;
  gap: 1.6rem;
}
.input-group .input {
  display: inline-block;
  border-radius: calc(2 * var(--sm-border-rad));
  padding: 1rem 1.4rem;
  outline: none;
  font-size: 1.4rem;
  border: 2px solid transparent;
  color: #ecfcec;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 38rem;
}

::placeholder {
  color: #ecfcec;
}

.input-group .input:focus {
  outline: 1px solid #fff;
  border-color: #8ca1a5;
}

.input-group .btn--sign-up {
  line-height: 2rem;
  color: var(--color-primary);
  background: #ecf5fe;
  padding: 1.4rem 1.9rem;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .input-group .btn--sign-up {
    padding: 1.4rem 2.6rem;
  }
}

/* Cards */

.card {
  display: inline-flex;
  flex-direction: column;
  width: 25rem;
  padding: 2rem;
  line-height: 2.4rem;
  border-radius: 8px;
  box-shadow: 12px 24px 64px rgba(103, 113, 133, 0.2);
  cursor: pointer;
  margin-right: 15px;
}

.card:hover {
  /* background: rgba(103, 113, 133, 0.09); */
  background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 242, 247));
}

.card__icons {
  display: flex;
  justify-content: space-between;
}

.crypto-icon {
  width: 40px;
  height: 40px;
  transform: translateY(-2px);
}

.card__description {
  font-weight: 500;
  margin-top: 2rem;
}
.crypto-name > abbr {
  margin-left: 8px;
  color: #677185;
}
.card .price-margin {
  color: #00994c;
  margin-left: 8px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 1200px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* features */

.feature {
  background: image-set(
      url(/images/home/homepage-app-shapes-bg.png) 1x,
      url(/images/home/homepage-app-shapes-bg@2x.png) 2x
    )
    #f7f5fe no-repeat;
  background-position: right top 18rem;
  border-radius: 20px;
  background-size: 375px;
  color: var(--color-secondary);
  position: relative;
  padding: 1.6rem;
}

.feature__content {
  margin-top: 8rem;
  grid-template-rows: 1fr;
}
.feature__heading {
  position: absolute;
  top: 9.2rem;
  left: 1.6rem;
}

.feature__image {
  width: 375px;
  height: 375px;
  object-fit: contain;
}
.feature .picture {
  justify-self: center;
}
.feature .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  margin-top: 2.6rem;
}
.slider .slider__dots {
  display: flex;
  gap: 0.8rem;
}
.slider__dots li {
  width: 19px;
  height: 4px;
  border-radius: 30px;
  background: #ded8fd;
  cursor: pointer;
}

.slider__dots:nth-of-type(1) .active-dot {
  background: var(--color-secondary);
}
.slider__dots:nth-of-type(2) .active-dot {
  background: var(--color-primary);
}
.slider__dots:nth-of-type(3) .active-dot {
  background: var(--color-accent);
}
.slider__dots:nth-of-type(4) .active-dot {
  background: var(--color-link);
}

.feature__list .feature__item {
  opacity: 0;
  max-height: 0;
}
.feature__list .feature__item--active {
  opacity: 1;
  max-height: 100%;
}
.feature__list .feature-list__heading {
  margin-bottom: 1.2rem;
}
.feature .btn {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .feature {
    padding: 8.6rem 1.6rem;
    background-position: right top 18rem;
    max-width: 128rem;
  }
  .feature__content {
    margin-top: 2rem;
    max-width: 48rem;
  }
  .feature .picture,
  .feature__image,
  .feature .slider {
    display: none;
  }

  .feature__heading {
    position: static;
    margin-bottom: 2rem;
  }
  .feature__list .feature__item {
    opacity: 1;
    max-height: 100%;
    border: 0.5px solid #ded8fd;
    border-radius: 20px;
    padding: 1.6rem;
    margin-bottom: 1.2rem;
    background: #efecfe;
    cursor: pointer;
  }
  .feature-list__detail {
    line-height: 2rem;
    display: none;
  }
  .feature__item--active .feature-list__detail {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    background-size: 625px;
    background-position: right bottom 4rem;
    margin: 3rem auto;
  }
  .feature__icon {
    margin: 7rem 0 0 14rem;
  }
  .feature__content {
    max-width: 100%;
  }
  .feature__description {
    margin-top: 2rem;
    padding: 0 0 7rem 14rem;
  }
  .feature__image {
    width: 422px;
    height: 690px;
  }
  .feature .picture {
    transform: translateY(-5.6rem);
  }
  .feature .picture,
  .feature__image {
    display: block;
  }
  .feature:nth-of-type(odd) .feature__image,
  .feature:nth-of-type(odd) .picture {
    order: 2;
  }
}

/* Call-out section */
.callout {
  background: url(/images/icons/banner-bg.svg) var(--color-dark) no-repeat left;
  color: #fff;
  padding: 4rem 1.6rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.callout .btn {
  background: #fff;
  color: var(--color-primary);
  transition: background 0.2s;
}
.callout .btn:hover {
  background: #dfe3eb;
}

@media screen and (min-width: 768px) {
  .callout {
    padding: 8rem 4rem;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    justify-content: center;
  }
  .callout .btn {
    align-self: flex-end;
  }
}

/* Links list */
.link-list-wrapper .link-list__heading {
  font-weight: 600;
}
.link-list-container {
  display: flex;
  flex-wrap: wrap;
}
.link-list li a {
  color: var(--color-link);
}
.link-list li {
  margin-bottom: 1.6rem;
}

/* Dropdown */
.lang-select-dropdown {
  color: var(--color-link);
  outline: 2px solid transparent;
  border: none;
  appearance: none;
  margin-bottom: 2rem;
  background: url(/images/icons/chevron-down.svg) no-repeat right 15px center;
  padding: 1.2rem 3rem 1.2rem 2px;
  cursor: pointer;
  border-radius: 8px;
}
.lang-select-dropdown:focus {
  outline: 2px solid #4890f5;
}

/* Search block */
.search-block-container {
  background: #f7f8fa;
  padding: 1rem;
}
.search-block {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: 1rem;
}
.search-block .search-icon {
  width: 20px;
  height: 20px;
}
.search-input-wrapper {
  background: #f0f2f7;
  align-items: center;
  border-radius: 8px;
  border: none;
  outline: 1px solid transparent;
  margin: 0 0.8rem 0.8rem 0.8rem;
  margin: 0 0.8rem;
  display: flex;
  padding: 1rem;
  z-index: 1;
}
.search-input-wrapper .input {
  background: transparent;
  color: var(--color-dark);
  border: none;
  outline: none;
  width: 100%;
  margin-left: 24px;
}
/* Use this class inside the JavaScript code! */
.outline {
  outline: 1px solid #4890f5;
}
.search-input-wrapper .input::placeholder {
  color: var(--color-link);
  color: #50596b;
  font-size: 14px;
  letter-spacing: 0.14px;
}
.search-block .block__list {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  font-size: 1.2rem;
  margin: 0 0.8rem;
  line-height: 1.6rem;
}
.search-block .block__list-heading {
  font-weight: 400;
  color: #50596b;
  padding: 1rem 0;
}
.search-block .search-item__link {
  border-top: 1px solid #f0f2f7;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2px;
}

.search-item:hover {
  background-color: #f7f8fa;
}
.block__list .block-icon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.block__list li:nth-of-type(1) svg {
  color: #f28b24;
}
.block__list li:nth-of-type(2) svg {
  color: #00b26b;
}
.block__list li:nth-of-type(3) svg {
  color: var(--color-secondary);
}

.search-block .searchable-list {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  background: #f7f8fa;
  width: 100%;
}
.search-block .searchable__item {
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  background: #f0f2f7;
  border-radius: 8px;
}
.searchable__item:hover {
  background: #dfe3eb;
}

@keyframes bounceIn {
  0% {
    max-height: 0;
    opacity: 0;
  }
  70% {
    max-height: 120%;
    opacity: 1;
  }
  85% {
    max-height: 95%;
  }
  100% {
    max-height: 100%;
  }
}
.block__list-wrapper {
  overflow: hidden;
}
.collapsible .collapsible-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
}
.search-block.collapsible--expanded {
  background: #fff;
}
.collapsible--expanded .collapsible-content {
  animation: bounceIn forwards 0.4s;
  opacity: 1;
}

@media screen and (min-width: 620px) {
  .search-block .collapsible-content {
    opacity: 1;
    max-height: 100%;
  }
  .search-block {
    background: #fff;
    width: 36rem;
  }
  .search-input-wrapper {
    outline: 1px solid #4890f5;
  }
}

/* Menu bar */
.menu__header {
  padding: 0 1.6rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  border-bottom: 1px solid #e3e6ed;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-menu__close-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: all 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.collapse {
  transform: translateX(100%);
}
.menu-bar__content-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  bottom: 70px;
  overflow-y: auto;
  margin-bottom: 20px;
}
.nav-menu .nav__brand {
  height: 25px;
  line-height: 1.8rem;
}

.menu-bar__list-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-link);
  padding: 2.8rem 1.6rem;
  background: #f7f8fa;
  font-weight: 500;
  line-height: 1.4rem;
}

.menu-bar__content-header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1.7rem;
  border-top: 1px solid #f0f2f7;
}
.menu-bar__content-header .wrapper {
  display: flex;
  flex-grow: 1;
}
.menu-bar-content__item:first-of-type .wrapper:hover {
  background: #fafdff;
}

.menu-bar-content__item:nth-of-type(2) .menu-bar__content-header:hover {
  background: #fbfaff;
}
.menu-bar-content__item:nth-of-type(3) .menu-bar__content-header:hover {
  background: #fffcf9;
}
.menu-bar-content__item:nth-of-type(4) .menu-bar__content-header:hover {
  background: #f9fefa;
}
.menu-bar-content__item:nth-of-type(5) .menu-bar__content-header:hover {
  background: #fbfcfd;
}
.menu-bar-content__item:nth-of-type(5) .menu-bar__content-header {
  border-bottom: 1px solid #f0f2f7;
}

.menu-bar__content-header p {
  font-size: 1.3rem;
  color: #50596b;
  margin-top: 4px;
}

.menu-bar__content-description {
  flex-direction: column;
  margin-left: 12px;
}

.menu-bar__content .toggler {
  padding: 1rem;
  border-radius: 10px;
  align-self: center;
  background: #f0f2f7;
  cursor: pointer;
}
.collapsible--expanded .toggler {
  transform: rotate(180deg);
}

.collapsible--expanded .exchange-content__list {
  background: #f7f8fa;
  margin: 0 1.7rem;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #121d33;
  margin-bottom: 1.7rem;
}

.exchange-content__list li {
  padding: 1.6rem;
  border-bottom: 1px solid #e2e5ec;
}
.exchange-content__list li:last-child {
  border: none;
}
.exchange-content__list a {
  display: inline-block;
  line-height: 24px;
  width: 100%;
  height: 100%;
  position: relative;
}
.exchange-content__list li:nth-last-of-type(1) a::after,
.exchange-content__list li:nth-last-of-type(2) a::after {
  display: inline-block;
  content: url("../images/icons/arrow.svg#arrow");
  position: relative;
  vertical-align: middle;
  left: 6px;
  top: -3.6px;
  transform: rotate(135deg) scale(1.2);
}
.service-list__item a {
  display: block;
  padding: 1.6rem;
  border-top: 1px solid #f0f2f7;
  position: relative;
}
.about-us .service-list__item:last-child a {
  border-bottom: 1px solid #f0f2f7;
}
.service-list__item a:hover {
  background: #fbfcfd;
}
.about-us .service-list__item:nth-of-type(2) a::after {
  content: "Hiring";
  display: inline-block;
  background: #0c6cf2;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  position: relative;
  padding: 2px 4px;
  left: 6px;
  border-radius: 4px;
  top: -6px;
}
.menu-bar__list-title.border {
  height: 70px;
}
.login-bar {
  position: fixed;
  align-items: center;
  background: #fff;
  box-shadow:
    rgb(240, 242, 247) 0px -1px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px -0.25rem 0.875rem 0px;
  display: inline-flex;
  justify-content: flex-start;
  gap: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e3e6ed;
  padding: 3.2rem 1.6rem 1.6rem 1.6rem;
}
@media screen and (min-width: 620px) {
  .nav-menu {
    max-height: 0;
    opacity: 0;
  }
}
