@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap");

:root {
  --color-primary: #0c6cf2;
  --color-secondary: #7349f2;
  --color-accent: #f28b24;
  --color-dark: #121d33;
  --color-link: #677185;
  --color-link-hovered: #144699;
  --sm-border-rad: 4px;
  --sm-padding: 1.6rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: #b0b0b0;
  color: #fff;
}

/* Typography */

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.4rem;
  line-height: 2.9rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.8rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
p {
  font-size: 1.7rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
  h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 5.2rem;
  }
}
li {
  list-style: none;
}

img {
  width: 100%;
}
body {
  font-family:
    "Inter",
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
}

/* Link */
a {
  text-decoration: none;
  color: var(--color-dark);
}

.link--boxed {
  color: var(--color-link);
  padding: 4px 8px;
  border-radius: var(--sm-border-rad);
  transition:
    background-color 300ms,
    color 300ms;
}

.link--boxed:hover {
  color: var(--color-link--hovered);
  color: #fff;
  background: #f0f2f71a;
}

/* Badges */

.badge {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: var(--sm-border-rad);
  transition: background 0.3s;
  white-space: nowrap;
}

.badge--primary {
  background: #efecfe;
  color: var(--color-secondary);
}
.badge--primary:hover {
  background: #ded8fd;
}

.badge--secondary {
  background: #e6faec;
  color: #00994c;
}

.badge--secondary:hover {
  background: #d1f0db;
}

/* Icons */
.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.media-icon__title {
  line-height: 2.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.media-icon {
  display: inline-flex;
  align-items: center;
  padding: 1.2rem;
  /* background: #efecfe; */
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .media-icon {
    padding: 1.6rem;
  }
}

.slider-icon {
  align-items: center;
  border-radius: calc(2 * var(--sm-border-rad));
  border: 1px solid currentColor;
  cursor: pointer;
  display: inline-flex;
  padding: 1.1rem;
}
.slider-icon--primary {
  color: var(--color-primary);
}
.slider-icon--secondary {
  color: var(--color-secondary);
}

.slider-icon--accent {
  color: var(--color-accent);
}
.slider-icon svg {
  width: 20px;
  height: 20px;
  color: inherit;
}

.slider-icon .arrow--right {
  transform: rotate(180deg);
}
.slider-icon .arrow--left {
  transform: initial;
}

.slider-icons__container {
  display: inline-flex;
  gap: 1rem;
}
.list-icon__container {
  display: inline-flex;
  padding: 1.2rem;
  align-items: center;
  border-radius: 20px;
}

.list-icon__container--primary {
  background: #ecf5fe;
}
.list-icon__container--secondary {
  background: #efecfe;
}
.list-icon__container--accent {
  background: #fff2e5;
}
.list-icon__container--green {
  background: #e6faec;
}
.list-icon__container--dark {
  background: #f0f2f7;
}
.list-icon {
  width: 32px;
  height: 32px;
}

/* Buttons */

.btn {
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.14px;
  line-height: 2rem;
  outline: 0;
  white-space: nowrap;
  transition: background 0.3s;
}

.media-btn {
  padding: 1rem 1.4rem;
}
.btn--primary {
  background: var(--color-primary);
}
.btn--secondary {
  background: var(--color-secondary);
}
.btn--accent {
  background: var(--color-accent);
}
.btn--dark {
  background: #50596b;
}
.btn--outline {
  color: var(--color-primary);
  border: 2px solid currentColor;
  background: transparent;
  padding: 0.8rem 1.2rem;
}
.btn--overlay {
  background: 0;
  max-width: 25px;
  max-height: 25px;
  border: 0;
  outline: 0;
  padding: 2px;
  cursor: pointer;
}

.nav .btn {
  padding: 10px 14px;
}
.nav .btn--login {
  color: #fff;
  transition: 0.2s ease;
  border: 2px solid #dfe3ed;
}
.nav .btn--sign-up {
  color: #000;
  border: 2px solid #dfe3ed;
  transition: 0.2s ease;
}
.nav .btn--sign-up:hover {
  background: #dfe3ed;
}

.login-bar .btn {
  padding: 10px 14px;
}
.login-bar .btn--sign-up {
  border: 2px solid transparent;
}
.login-bar .btn--sign-up:hover {
  background: #144699;
}
.login-bar .btn--login {
  border: 2px solid currentColor;
  color: var(--color-primary);
}
.login-bar .btn--login:hover {
  background: #dfe3eb;
}
@media screen and (min-width: 768px) {
  .btn {
    letter-spacing: 0.18px;
  }
  .media-btn {
    font-size: 1.8rem;
    padding: 1.2rem 2.2rem;
  }
}

/* Inputs */
.input-group {
  display: flex;
  gap: 1.6rem;
}
.input-group .input {
  display: inline-block;
  border-radius: calc(2 * var(--sm-border-rad));
  padding: 1rem 1.4rem;
  outline: none;
  font-size: 1.4rem;
  border: 2px solid transparent;
  color: #ecfcec;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 38rem;
}

::placeholder {
  color: #ecfcec;
}

.input-group .input:focus {
  outline: 1px solid #fff;
  border-color: #8ca1a5;
}

.input-group .btn--sign-up {
  line-height: 2rem;
  color: var(--color-primary);
  background: #ecf5fe;
  padding: 1.4rem 1.9rem;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .input-group .btn--sign-up {
    padding: 1.4rem 2.6rem;
  }
}

/* Cards */

.card {
  display: inline-flex;
  flex-direction: column;
  width: 25rem;
  padding: 2rem;
  line-height: 2.4rem;
  border-radius: 8px;
  box-shadow: 12px 24px 64px rgba(103, 113, 133, 0.2);
  cursor: pointer;
  background: #fff;
}

.card:hover {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 242, 247));
}

.card__icons {
  text-wrap: nowrap;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.crypto-icon svg {
  width: 40px;
  height: 40px;
  transform: translateY(-2px);
}

.card__description {
  font-weight: 500;
  margin-top: 2rem;
}
.crypto-name > abbr {
  text-transform: uppercase;
  margin-left: 8px;
  color: #677185;
}
.card .price-margin {
  color: #00994c;
  margin-left: 8px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 1200px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* features */
.feature-wrapper {
  padding: 1rem 1.6rem 0;
  margin-bottom: 6rem;
}
.feature {
  background: image-set(
      url(/images/home/homepage-app-shapes-bg.png) 1x,
      url(/images/home/homepage-app-shapes-bg@2x.png) 2x
    )
    #f7f5fe no-repeat;
  background-position: right top 18rem;
  border-radius: 20px;
  background-size: 375px;
  color: var(--color-secondary);
  position: relative;
  padding: 1.6rem;
  margin-bottom: 6rem;
}
.feature:nth-of-type(2) {
  background: image-set(
      url(/images/home/homepage-exchange-shapes-bg.png) 1x,
      url(/images/home/homepage-exchange-shapes-bg@2x.png) 2x
    )
    #ecf5fe80 no-repeat;
  color: #0c6cf2;
  background-position: left top 15rem;
  background-size: 37.5rem;
}

.feature__content {
  margin-top: 8rem;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  /* width: 98%; */
}
.feature__list-container {
  display: none;
}
.feature__content .media-icon {
  align-self: flex-start;
}
.feature-window {
  display: flex;
  width: 100%;
  position: relative;
}
.feature-window.transit {
  transition: transform 0.3s ease-in;
}

.feature__heading {
  margin-top: 2rem;
  align-self: flex-start;
}
.feature__image,
.feature .picture {
  /* width: 375px; */
  height: 375px;
  object-fit: contain;
}
.feature .picture {
  max-width: 100%;
  height: auto;
}
.slider-item {
  width: 100%;
  flex: 0 0 100%;
}
.feature .slider-image {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.2rem auto 10rem;
  width: 100%;
}
.feature-item__description {
  width: 100%;
  transition: 0.3s ease-in;
  overflow-x: hidden;
}
.feature .navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 48.8rem;
  left: 0rem;
  right: 0rem;
}
.navigator .slider__dots {
  display: flex;
  gap: 0.8rem;
}
.slider__dots li {
  width: 19px;
  height: 4px;
  border-radius: 30px;
  background: #ded8fd;
  cursor: pointer;
}

.feature:nth-of-type(2) .slider__dots li {
  background: #d8ebfd;
}

.feature:nth-of-type(1) .slider__dots .active-dot {
  background: var(--color-secondary);
}
.feature:nth-of-type(2) .slider__dots .active-dot {
  background: var(--color-secondary);
}
.feature:nth-of-type(3) .slider__dots .active-dot {
  background: var(--color-primary);
}
.feature:nth-of-type(4) .slider__dots .active-dot {
  background: var(--color-accent);
}
.feature:nth-of-type(5) .slider__dots .active-dot {
  background: var(--color-link);
}
.feature-list__detail {
  width: 100%;
}
.feature-list__heading {
  margin-bottom: 1.2rem;
}
.feature .btn {
  margin-top: 2rem;
  width: max-content;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .feature {
    padding: 8.6rem 1.6rem;
    background-position: right top 18rem;
    max-width: 128rem;
  }
  .feature:nth-of-type(2) {
    background-position: right top 18rem;
    background-size: 37.5rem;
  }

  .feature .btn {
    line-height: 2.4rem;
  }
  .feature-wrapper {
    padding: 12rem 4rem 0;
    margin-bottom: 6rem;
  }
  .feature__content {
    margin-top: 2rem;
    max-width: 48rem;
    margin: 0;
  }
  .feature-window {
    flex-direction: column;
  }
  .feature .slider-image {
    display: none;
  }
  .feature .navigator {
    display: none;
  }
  .feature__heading {
    position: static;
    justify-self: flex-start;
    margin-bottom: 3.2rem;
  }
  .feature .slider-item {
    display: block;
  }
  .feature-item__description {
    opacity: 1;
    border: 0.5px solid #ded8fd;
    border-radius: 20px;
    padding: 0 1.6rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    background: #fff;
    overflow: hidden;
  }
  .feature-item__description.feature__item--active {
    background: #efecfe;
  }
  .feature:nth-of-type(2) .feature-item__description.feature__item--active {
    background: #ecf5fe;
  }

  .feature-list__heading {
    margin: 0;
    padding: 1.6rem 2rem;
    line-height: 2.4rem;
  }
  .feature__item--active .feature-list__heading {
    padding: 1.6rem 2rem 0;
  }
  .feature-list__detail {
    line-height: 2rem;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 2rem;
  }
  .feature__item--active .feature-list__detail {
    opacity: 1;
    max-height: 100%;
    transition: 0.5s;
    padding: 0.8rem 2rem 1rem;
  }
}
@media screen and (min-width: 930px) {
  .feature-wrapper {
    padding: 0rem 4rem 6rem;
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .feature-wrapper {
    margin-bottom: 6rem;
  }
  .feature {
    background-size: 625px;
    background-position: right bottom 4rem;
    margin: 3rem auto;
    padding: 0 1.6rem;
    /* overflow-x: hidden; */
  }
  .feature .slider-image {
    display: block;
    margin-right: 2rem;
  }
  .feature__content {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    overflow: visible;
    padding-bottom: 3.2rem;
  }
  .feature__content > .feature__icon:first-child {
    display: none;
  }
  .feature > .btn,
  .feature__content > .feature__heading {
    display: none;
  }

  .feature__list-container .btn {
    position: absolute;
    bottom: 8rem;
    line-height: 2.6rem;
    padding: 1.2rem 2.2rem;
  }

  .feature-window {
    position: relative;
    width: 422px;
    height: 690px;
    transform: translateY(-7rem);
    margin-right: 4rem;
    overflow: hidden;
    margin-top: 12rem;
  }

  .feature .slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .feature .picture {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition:
      opacity 0.5s ease-in,
      visibility 0.5s ease-in;
    visibility: hidden;
  }

  .feature .picture.active {
    opacity: 1;
    visibility: visible;
  }

  .feature__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 0;
  }
  .feature__list-container {
    display: flex;
    flex-direction: column;
    max-width: 48rem;
    margin-left: 14rem;
    height: 100%;
    height: 690px;
    /* position: relative; */
  }
  .feature:nth-of-type(odd) .feature-window {
    order: 1;
  }
  .feature__list {
    min-height: 320px;
  }
  .slider-item .feature-item__description {
    display: none;
  }
  .feature__icon {
    margin: 7rem 0 0;
    width: 12.8rem;
  }
}

/* Call-out section */
.callout {
  background: url(/images/icons/banner-bg.svg) var(--color-dark) no-repeat left;
  color: #fff;
  padding: 4rem 1.6rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.callout .btn {
  background: #fff;
  color: var(--color-primary);
  transition: background 0.2s;
}
.callout .btn:hover {
  background: #dfe3eb;
}

@media screen and (min-width: 768px) {
  .callout {
    padding: 8rem 4rem;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    justify-content: center;
  }
  .callout .btn {
    align-self: flex-end;
  }
}

/* Links list */
.link-list-wrapper .link-list__heading {
  font-weight: 600;
}
.link-list-container {
  display: flex;
  flex-wrap: wrap;
}
.link-list li a {
  color: var(--color-link);
}
.link-list li {
  margin-bottom: 1.6rem;
}

/* Dropdown */
.lang-select-dropdown {
  color: var(--color-link);
  outline: 2px solid transparent;
  border: none;
  appearance: none;
  background: url(/images/icons/chevron-down.svg) no-repeat right 15px center;
  padding: 1rem 3rem 1rem 2px;
  cursor: pointer;
  border-radius: 8px;
}
.lang-select-dropdown:focus {
  outline: 2px solid #4890f5;
}

/* Search block */
.search-block-container {
  background: #f7f8fa;
  padding: 1rem;
  z-index: 5;
}
.search-block {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: 1rem;
  z-index: 3;
  /* overflow: hidden; */
}
.search-block .search-icon {
  width: 20px;
  height: 20px;
}
.search-input-wrapper {
  background: #f0f2f7;
  align-items: center;
  border-radius: 8px;
  border: none;
  outline: 1px solid transparent;
  margin: 0 0.8rem 0.8rem 0.8rem;
  margin: 0 0.8rem;
  display: flex;
  padding: 1rem;
  z-index: 1;
}
.search-input-wrapper .input {
  background: transparent;
  color: var(--color-dark);
  border: none;
  outline: none;
  width: 100%;
  margin-left: 24px;
}
/* Use this class inside the JavaScript code! */
.outline {
  outline: 1px solid #4890f5;
}
.search-input-wrapper .input::placeholder {
  color: var(--color-link);
  color: #50596b;
  font-size: 14px;
  letter-spacing: 0.14px;
}
.search-block .block__list {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  font-size: 1.2rem;
  margin: 0 0.8rem;
  line-height: 1.6rem;
}
.search-block .block__list-heading {
  font-weight: 400;
  color: #50596b;
  padding: 1rem 0;
}
.search-block .search-item__link {
  border-top: 1px solid #f0f2f7;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2px;
}

.search-item:hover {
  background-color: #f7f8fa;
}
.block__list .block-icon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.block__list li:nth-of-type(1) svg {
  color: #f28b24;
}
.block__list li:nth-of-type(2) svg {
  color: #00b26b;
}
.block__list li:nth-of-type(3) svg {
  color: var(--color-secondary);
}

.search-block .searchable-list {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  background: #f7f8fa;
  width: 100%;
}
.search-block .searchable__item {
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  background: #f0f2f7;
  border-radius: 8px;
}
.searchable__item:hover {
  background: #dfe3eb;
}

@keyframes bounceIn {
  0% {
    max-height: 0;
    opacity: 0;
  }
  70% {
    max-height: 120%;
    opacity: 1;
  }
  85% {
    max-height: 95%;
  }
  100% {
    max-height: 100%;
  }
}
.block__list-wrapper {
  overflow: hidden;
}
.collapsible .collapsible-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
}
.search-block.collapsible--expanded {
  background: #fff;
}
.collapsible--expanded .collapsible-content {
  animation: bounceIn forwards 0.4s;
  opacity: 1;
}

@media screen and (min-width: 620px) {
  .search-block .collapsible-content {
    opacity: 1;
    max-height: 100%;
  }
  .search-block {
    background: #fff;
    width: 36rem;
  }
  .search-input-wrapper {
    outline: 1px solid #4890f5;
  }
}
/* Menu bar */
.menu__header {
  padding: 0 1.6rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  border-bottom: 1px solid #e3e6ed;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #000;
}

.nav-menu__close-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.nav-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100%;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  background: #fff;
}
.menu-bar__content-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  bottom: 80px;
  overflow-y: auto;
}
.nav-menu.show {
  transform: translateX(0%);
}
.nav-menu .nav__brand {
  height: 25px;
  line-height: 1.8rem;
  color: #000;
}
.menu-bar__list-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-link);
  padding: 2.8rem 1.6rem;
  background: #f7f8fa;
  font-weight: 500;
  line-height: 1.4rem;
}
.menu-bar__content-header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1.7rem;
  border-top: 1px solid #f0f2f7;
}
.menu-bar__content-header .wrapper {
  display: flex;
  flex-grow: 1;
}
.menu-bar-content__item:first-of-type .wrapper:hover {
  background: #fafdff;
}
.menu-bar-content__item:nth-of-type(2) .menu-bar__content-header:hover {
  background: #fbfaff;
}
.menu-bar-content__item:nth-of-type(3) .menu-bar__content-header:hover {
  background: #fffcf9;
}
.menu-bar-content__item:nth-of-type(4) .menu-bar__content-header:hover {
  background: #f9fefa;
}
.menu-bar-content__item:nth-of-type(5) .menu-bar__content-header:hover {
  background: #fbfcfd;
}
.menu-bar-content__item:nth-of-type(5) .menu-bar__content-header {
  border-bottom: 1px solid #f0f2f7;
}

.menu-bar__content-header p {
  font-size: 1.3rem;
  color: #50596b;
  margin-top: 4px;
}

.menu-bar__content-description {
  flex-direction: column;
  margin-left: 12px;
}

.menu-bar__content .toggler {
  padding: 1rem;
  border-radius: 10px;
  align-self: center;
  background: #f0f2f7;
  cursor: pointer;
}
.collapsible--expanded .toggler {
  transform: rotate(180deg);
}

.collapsible--expanded .exchange-content__list {
  background: #f7f8fa;
  margin: 0 1.7rem;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #121d33;
  margin-bottom: 1.7rem;
}

.exchange-content__list li {
  padding: 1.6rem;
  border-bottom: 1px solid #e2e5ec;
}
.exchange-content__list li:last-child {
  border: none;
}
.exchange-content__list a {
  display: inline-block;
  line-height: 24px;
  width: 100%;
  height: 100%;
  position: relative;
}
.exchange-content__list li:nth-last-of-type(1) a::after,
.exchange-content__list li:nth-last-of-type(2) a::after {
  display: inline-block;
  content: url("../images/icons/arrow.svg#arrow");
  position: relative;
  vertical-align: middle;
  left: 6px;
  top: -3.6px;
  transform: rotate(135deg) scale(1.2);
}
.service-list__item a {
  display: block;
  padding: 1.6rem;
  border-top: 1px solid #f0f2f7;
  position: relative;
}
.about-us .service-list__item:last-child a {
  border-bottom: 1px solid #f0f2f7;
}
.service-list__item a:hover {
  background: #fbfcfd;
}
.about-us .service-list__item:nth-of-type(2) a::after {
  content: "Hiring";
  display: inline-block;
  background: #0c6cf2;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  position: relative;
  padding: 2px 4px;
  left: 6px;
  border-radius: 4px;
  top: -6px;
}
.menu-bar__list-title.border {
  height: 70px;
}
.login-bar {
  position: fixed;
  align-items: center;
  background: #fff;
  box-shadow:
    rgb(240, 242, 247) 0px -1px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px -0.25rem 0.875rem 0px;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e3e6ed;
  padding: 1.6rem;
  height: 80px;
}
/* Navigation bar */
.header {
  background: var(--color-dark);
  border-bottom: 0.1px solid #414a5c;
  padding: 0 var(--sm-padding);
  position: fixed;
  /* overflow-x: hidden; */
  left: 0;
  right: 0;
  z-index: 2;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.4rem;
  /* position: relative; */
}
.nav__brand {
  height: 25px;
  /* width: 23.2rem; */
  max-width: 22rem;
  color: #fff;
}
.nav-page__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 2rem;
  margin-right: 1rem;
}
.nav-page__list .page-link {
  color: #fff;
}
.nav-page__list > li:not(:first-child) {
  display: none;
}

.nav-page__list .icon-ellipsis {
  display: none;
  width: 24px;
  padding: 0;
  height: 24px;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
}
.nav__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
}
.nav__icons > li {
  display: none;
}
.nav__icons li:last-child {
  display: block;
  color: #fff;
}
.nav__icons .searchables {
  position: relative;
}
.nav__icons .search-block {
  transform-origin: top right;
  position: absolute;
  right: 0px;
  top: -5.4rem;
  transition: transform 0.2s ease;
  padding-top: 1rem;
  border-radius: 16px;
  overflow: hidden;
  transform: scale(0, 0);
  /* z-index: 2; */
}
.open.search-block {
  visibility: visible;
  transform: scale(1, 1);
  opacity: 1;
}

@media screen and (min-width: 620px) {
  .nav__icons > li:nth-child(n) {
    display: block;
  }
  .nav-page__list > li:last-child {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .icon-bars {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav__icons > li:last-child {
    display: none;
  }
  .nav-page__list li:nth-child(n) {
    display: block;
  }
  .nav-page__list {
    max-width: 745px;
  }
  .nav-page__list .icon-ellipsis:hover {
    display: inline-block;
  }
  .nav-page__list .icon-ellipsis {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .nav-page__list {
    max-width: 800px;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    justify-content: space-around;
  }
  .nav__icons {
    margin-right: 2.8rem;
  }
}
.nav__icons .icon-container {
  width: 44px;
  height: 44px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #fff;
  transition: background 0.2s ease;
}
.nav__icons .icon-container:hover {
  background: #ffffff40;
}
.nav__icons .icon {
  width: 20px;
  height: 20px;
}
.nav__icons .icon-bars {
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  transition: background 0.2s ease;
}
.nav__icons .icon-bars:hover {
  background: #ffffff1a;
}
.nav .btn--login:hover {
  opacity: 0.8;
}
.mega-li {
  position: relative;
}
.mega-menu {
  z-index: 1;
  background: #fff;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 12px;
  padding: 1.6rem;
  position: absolute;
  top: 3.2rem;
  right: -30.8rem;
  display: none;
  box-shadow: rgba(103, 113, 133, 0.4) 1.2rem 2.4rem 6.4rem;
}
.open.mega-menu {
  display: inline-flex;
}

.mega-menu::before {
  content: "";
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 28px;
  height: 14px;
  position: absolute;
  top: -1.2rem;
  right: 1.2rem;
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .mega-menu {
    right: 0rem;
    top: -0.4rem;
    position: relative;
    display: flex;
  }
  .mega-menu::before {
    right: 44%;
  }
  .mega-menu-container {
    background: transparent;
    display: none;
    padding-top: 4.8rem;
    position: absolute;
    right: -25.6rem;
    top: 0;
    z-index: 1;
  }
  .icon-ellipsis-container {
    z-index: 2;
    position: relative;
  }
  .icon-ellipsis-container:hover + .mega-menu-container,
  .mega-menu-container:hover {
    display: block;
  }
  .icon-ellipsis:hover,
  .icon-ellipsis.hover-effect {
    background: #f0f2f71a;
  }
}
.mega-menu__list a {
  position: relative;
  display: inline-block;
  padding-right: 2rem;
}
.mega-menu__list a:after {
  position: absolute;
  top: 4px;
  right: 8px;
  content: url(/images/icons/chevron-down.svg);
  transform: translateX(-50%) rotate(-90deg);
  transition: all 0.2s ease;
  opacity: 0;
}
.mega-menu__list a:hover::after {
  opacity: 1;
  right: -2px;
}
.mega-menu .link--boxed:hover {
  background: #f0f2f7;
  color: #000;
}
.mega-menu__list-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.mega-menu__list {
  display: inline-flex;
  flex-direction: column;
  text-wrap: nowrap;
  padding-right: 4rem;
  margin-right: 2rem;
}
.mega-menu div:last-child ul {
  margin-right: 0;
}
.mega-menu__list-item {
  margin: 1rem 0;
}
.mega-menu__list-item a {
  padding: 0.4rem 0.8rem;
  padding-right: 2rem;
  color: var(--color-link);
}

/* hero component */
.container {
  max-width: 100rem;
  margin: 0px auto;
}
.hero-wrapper {
  padding: 0 1.6rem;
  background: url(/images/home/home-hero-gradient.jpg) no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.hero {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 12rem 0 8rem;
  /* max-width: 100rem; */
  /* margin: 0px auto; */
}
.hero__heading {
  margin: 0;
  font-weight: 600;
}
.hero__description {
  text-align: left;
  margin-top: 2.4rem;
  font-size: 1.7rem;
  max-width: 75rem;
  line-height: 2.4rem;
}
.hero .input-group {
  margin-top: 3.2rem;
}

@media screen and (min-width: 770px) {
  .hero-wrapper {
    padding: 0 4rem;
  }
  .hero {
    padding: 17rem 0;
  }
  .hero__heading {
    line-height: 5.8rem;
    font-size: 4.8rem;
  }
  .hero__description {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
}

/* Crypto prices card list */
.crypto-prices-container {
  position: relative;
  max-width: 108rem;
  margin-bottom: 28rem;
}
.crypto-prices-wrapper {
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
}
.crypto-prices__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.4rem;
  overflow: scroll hidden;
  padding: 0 1.6rem 8rem;
}
.more-prices-link {
  z-index: 1;
  position: absolute;
  bottom: -2rem;
  left: 0;
  color: #121d33;
  font-weight: 500;
  font-size: 1.4rem;
  text-wrap: nowrap;
  transition: color 0.3s ease;
}
.more-prices-link:hover {
  color: var(--color-primary);
}
.more-prices-link::after {
  content: "->";
  display: inline-flex;
  font-size: 2rem;
  padding-left: 0.8rem;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 768px) {
  .crypto-prices__list .card {
    max-width: 100%;
  }
  .crypto-prices__list {
    position: relative;
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(auto-fit, minmax(19.2rem, 1fr));
    overflow: hidden;
    padding: 0 4rem 8rem;
    padding-right: 6rem;
  }
  .more-prices-link {
    bottom: 4rem;
    left: 4rem;
  }
}
/* Footer */
.footer {
  padding: 0 1.6rem;
  margin: 0 auto;
}
.sites {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sites__brand-logo {
  color: #000;
}
.sites .separator-line,
.sites .social-sites,
.footer__section .qr-img {
  display: none;
}
.sites .separator-line {
  border-bottom: 1px solid #000;
  flex: 1;
  margin: 0 2rem;
}
.social-sites {
  display: flex;
  gap: 2.4rem;
}
.footer__section {
  width: 100%;
  display: flex;
  margin: 3.8rem auto;
}
.qr-img {
  margin-right: 4.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qr-img p {
  font-size: 14px;
  font-weight: 700;
  text-wrap: nowrap;
  margin-top: 1rem;
}

.footer__section .list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer__list-wrapper {
  width: 100%;
}
.footer-list__heading {
  position: relative;
  width: 100%;
  font-size: 1.8rem;
  padding: 0.6rem 0;
  font-weight: 600;
  cursor: pointer;
}
.footer-list__heading::after {
  position: absolute;
  content: url(/images/icons/chevron-down-bold.svg);
  right: 0;
  transition: transform 0.3s ease-in;
  transform-origin: center center 0;
  top: 2%;
}
.collapsible--expanded .footer-list__heading::after {
  transform: rotate(-180deg);
}

.footer .list-container > :nth-child(5) {
  grid-column: 4;
}

.footer-list__item {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  color: var(--color-link);
  opacity: 0.75;
}
.footer-list__item a {
  color: var(--color-link);
  transition: color 0.5s;
}
.footer-list__item a:hover {
  color: #144699;
}
.sites-lang-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.6rem;
}
.footer .download-sites {
  display: flex;
  gap: 2rem;
}
.footer .lang-copyright {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-self: flex-start;
}
.lang-select {
  display: flex;
  align-items: center;
}
.lang-select .icon {
  transform: translateY(4px);
}
.lang-select .icon,
.copyright .icon {
  cursor: auto;
  margin-right: 1.2rem;
}
.copyright {
  display: flex;
}
.copyright .icon {
  transform: translateY(-4px);
}
.copyright span {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .sites .separator-line,
  .sites .social-sites,
  .footer__section .qr-img {
    display: flex;
  }
  .footer .download-sites,
  .sites-lang-wrapper .social-sites {
    display: none;
  }
  .footer__section .list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  .footer-list__heading {
    cursor: auto;
    padding: 0;
    text-wrap: wrap;
  }
  .footer-list__heading::after {
    display: none;
  }
  .footer__list {
    opacity: 1 !important;
    max-height: 100% !important;
    margin-top: 3.2rem;
  }
  .footer .list-container > :nth-child(5) {
    transform: translateY(-4.6rem);
  }
  .footer {
    padding: 0 4rem;
    max-width: 1080px;
  }
  .footer .lang-copyright {
    transform: translateY(-10rem);
  }
}
