@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap");

:root {
  --color-primary: #0c6cf2;
  --color-secondary: #7349f2;
  --color-accent: #f28b24;
  --color-dark: #121d33;
  --color-link: #677185;
  --color-link-hovered: #144699;
  --sm-border-rad: 4px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: #b0b0b0;
  color: #fff;
}

/* Typography */

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.4rem;
  line-height: 2.9rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.8rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
p {
  font-size: 1.7rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
  h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 5.2rem;
  }
}
li {
  list-style: none;
}

img {
  width: 100%;
}
body {
  font-family: "Inter", "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
}

/* Link */
a {
  text-decoration: none;
  color: var(--color-dark);
}

.link--boxed {
  color: var(--color-link);
  padding: 4px 8px;
  border-radius: var(--sm-border-rad);
  transition: all 300ms;
}

.link--boxed:hover {
  color: var(--color-link--hovered);
  font-weight: 500;
  background: #f0f2f7;
}

/* Badges */

.badge {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: var(--sm-border-rad);
  transition: background 0.3s;
  white-space: nowrap;
}

.badge--primary {
  background: #efecfe;
  color: var(--color-secondary);
}
.badge--primary:hover {
  background: #ded8fd;
}

.badge--secondary {
  background: #e6faec;
  color: #00994c;
}

.badge--secondary:hover {
  background: #d1f0db;
}

/* Icons */
.icon {
  width: 32px;
  height: 32px;
  /* overflow: visible; */
}

.media-icon__title {
  line-height: 2.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.media-icon {
  display: inline-flex;
  align-items: center;
  padding: 1.2rem;
  /* background: #efecfe; */
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .media-icon {
    padding: 1.6rem;
  }
}

.slider-icon {
  align-items: center;
  border-radius: calc(2 * var(--sm-border-rad));
  border: 1px solid currentColor;
  cursor: pointer;
  display: inline-flex;
  padding: 1.1rem;
}
.slider-icon--primary {
  color: var(--color-primary);
}
.slider-icon--secondary {
  color: var(--color-secondary);
}

.slider-icon--accent {
  color: var(--color-accent);
}
.slider-icon svg {
  width: 20px;
  height: 20px;
  color: inherit;
}

.slider-icon .arrow--right {
  transform: rotate(180deg);
}
.slider-icon .arrow--left {
  transform: initial;
}

.slider-icons__container {
  display: inline-flex;
  gap: 1rem;
}
.list-icon__container {
  display: inline-flex;
  padding: 1.2rem;
  align-items: center;
  border-radius: 20px;
}

.list-icon__container--primary {
  background: #ecf5fe;
}
.list-icon__container--secondary {
  background: #efecfe;
}
.list-icon__container--accent {
  background: #fff2e5;
}
.list-icon__container--green {
  background: #e6faec;
}
.list-icon__container--dark {
  background: #f0f2f7;
}
.list-icon {
  width: 32px;
  height: 32px;
}

/* Buttons */

.btn {
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.14px;
  line-height: 2rem;
  outline: 0;
  white-space: nowrap;
  /* transition: opacity 0.15s; */
}

.btn:hover {
  /* opacity: 0.8; */
}

.media-btn {
  padding: 1rem 1.4rem;
}
.btn--primary {
  background: var(--color-primary);
}
.btn--secondary {
  background: var(--color-secondary);
}
.btn--accent {
  background: var(--color-accent);
}
.btn--dark {
  background: #50596b;
}
.btn--outline {
  color: var(--color-primary);
  border: 2px solid currentColor;
  background: transparent;
  padding: 0.8rem 1.2rem;
}

@media screen and (min-width: 768px) {
  .btn {
    line-height: 2.6rem;
    font-size: 1.8rem;
    letter-spacing: 0.18px;
  }
  .media-btn {
    padding: 1.2rem 2.2rem;
  }
}

/* Inputs */
.input-group {
  display: flex;
  gap: 1.6rem;
}
.input-group .input {
  display: inline-block;
  border-radius: calc(2 * var(--sm-border-rad));
  padding: 1rem 1.4rem;
  outline: none;
  font-size: 1.4rem;
  border: 2px solid transparent;
  color: #ecfcec;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 38rem;
}

::placeholder {
  color: #ecfcec;
}

.input:focus {
  outline: 1px solid #fff;
  border-color: #8ca1a5;
}

.input-group .btn--sign-up {
  line-height: 2rem;
  color: var(--color-primary);
  background: #ecf5fe;
  padding: 1.4rem 1.9rem;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .input-group .btn--sign-up {
    padding: 1.4rem 2.6rem;
  }
}

/* Cards */

.card {
  display: inline-flex;
  flex-direction: column;
  width: 25rem;
  padding: 2rem;
  line-height: 2.4rem;
  border-radius: 8px;
  box-shadow: 12px 24px 64px rgba(103, 113, 133, 0.2);
  cursor: pointer;
  margin-right: 15px;
}

.card:hover {
  /* background: rgba(103, 113, 133, 0.09); */
  background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 242, 247));
}

.card__icons {
  display: flex;
  justify-content: space-between;
}

.crypto-icon {
  width: 40px;
  height: 40px;
  transform: translateY(-2px);
}

.card__description {
  font-weight: 500;
  margin-top: 2rem;
}
.crypto-name > abbr {
  margin-left: 8px;
  color: #677185;
}
.card .price-margin {
  color: #00994c;
  margin-left: 8px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 1200px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* features */

.feature {
  background: image-set(
      url(/images/home/homepage-app-shapes-bg.png) 1x,
      url(/images/home/homepage-app-shapes-bg@2x.png) 2x
    )
    #f7f5fe no-repeat;
  background-position: right top 18rem;
  border-radius: 20px;
  background-size: 375px;
  color: var(--color-secondary);
  position: relative;
  padding: 1.6rem;
}

.feature__content {
  margin-top: 8rem;
  grid-template-rows: 1fr;
}
.feature__heading {
  position: absolute;
  top: 9.2rem;
  left: 1.6rem;
}

.feature__image {
  width: 375px;
  height: 375px;
  object-fit: contain;
}
.feature .picture {
  justify-self: center;
}
.feature .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  margin-top: 2.6rem;
}
.slider .slider__dots {
  display: flex;
  gap: 0.8rem;
}
.slider__dots li {
  width: 19px;
  height: 4px;
  border-radius: 30px;
  background: #ded8fd;
  cursor: pointer;
}

.slider__dots:nth-of-type(1) .active-dot {
  background: var(--color-secondary);
}
.slider__dots:nth-of-type(2) .active-dot {
  background: var(--color-primary);
}
.slider__dots:nth-of-type(3) .active-dot {
  background: var(--color-accent);
}
.slider__dots:nth-of-type(4) .active-dot {
  background: var(--color-link);
}

.feature__list .feature__item {
  opacity: 0;
  max-height: 0;
}
.feature__list .feature__item--active {
  opacity: 1;
  max-height: 100%;
}
.feature__list .feature-list__heading {
  margin-bottom: 1.2rem;
}
.feature .btn {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .feature {
    padding: 8.6rem 1.6rem;
    background-position: right top 18rem;
    max-width: 128rem;
  }
  .feature__content {
    margin-top: 2rem;
    max-width: 48rem;
  }
  .feature .picture,
  .feature__image,
  .feature .slider {
    display: none;
  }

  .feature__heading {
    position: static;
    margin-bottom: 2rem;
  }
  .feature__list .feature__item {
    opacity: 1;
    max-height: 100%;
    border: 0.5px solid #ded8fd;
    border-radius: 20px;
    padding: 1.6rem;
    margin-bottom: 1.2rem;
    background: #efecfe;
    cursor: pointer;
  }
  .feature-list__detail {
    line-height: 2rem;
    display: none;
  }
  .feature__item--active .feature-list__detail {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    background-size: 625px;
    background-position: right bottom 4rem;
    margin: 3rem auto;
  }
  .feature__icon {
    margin: 7rem 0 0 14rem;
  }
  .feature__content {
    max-width: 100%;
  }
  .feature__description {
    margin-top: 2rem;
    padding: 0 0 7rem 14rem;
  }
  .feature__image {
    width: 422px;
    height: 690px;
  }
  .feature .picture {
    transform: translateY(-5.6rem);
  }
  .feature .picture,
  .feature__image {
    display: block;
  }
  .feature:nth-of-type(odd) .feature__image,
  .feature:nth-of-type(odd) .picture {
    order: 2;
  }
}

/* Call-out section */
.callout {
  background: url(/images/icons/banner-bg.svg) var(--color-dark) no-repeat left;
  color: #fff;
  padding: 4rem 1.6rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.callout .btn {
  background: #fff;
  color: var(--color-primary);
  transition: background 0.2s;
}
.callout .btn:hover {
  background: #dfe3eb;
}

@media screen and (min-width: 768px) {
  .callout {
    padding: 8rem 4rem;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    justify-content: center;
  }
  .callout .btn {
    align-self: flex-end;
  }
}

/* Links list */
.link-list-wrapper .link-list__heading {
  font-weight: 600;
}
.link-list-container {
  display: flex;
  flex-wrap: wrap;
}
.link-list li a {
  color: var(--color-link);
}
.link-list li {
  margin-bottom: 1.6rem;
}
