:root {
  --color-primary: #0c6cf2;
  --color-secondary: #7349f2;
  --color-accent: #f28b24;
  --color-dark: #121d33;
  --color-link: #4d5566;
  --color-btn-hovered: #2a3448;
  --color-link-hovered: #121d33;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: #b0b0b0;
  color: #fff;
}
html {
  font-size: 62.5%;
}

/* Typography */

/* Link */

a {
  text-decoration: none;
}

.link {
  opacity: 0.7;
}
.link:hover {
  opacity: 1;
}
