<span class="card">
  <span class="card__icons">
    <svg class="crypto-icon">
      <use href="images/icons/prices-btc.svg#btc"></use>
    </svg>
    <span class="actions">
      <a href="#" class="badge badge--primary">Buy</a>
      <a href="#" class="badge badge--secondary">Trade</a>
    </span> </span
  ><span class="card__description">
    <span class="crypto-name">Bitcoin<abbr>BTC</abbr></span>
    <p class="crypto-price">
      $58,504.02<span class="price-margin">+1.91%</span>
    </p>
  </span>
</span>
