<article class="feature">
  <div class="feature__content">
    <span
      class="media-icon feature__icon"
      style="color: var(--color-secondary); background: #efecfe"
    >
      <svg class="icon">
        <use href="/images/icons/mobile-wallet.svg#wallet"></use>
      </svg>
      <p class="media-icon__title">Wallet</p>
    </span>

    <h2 class="feature__heading">The only crypto wallet you'll ever need</h2>
    <div class="feature__list-container">
      <span
        class="media-icon feature__icon"
        style="color: var(--color-secondary); background: #efecfe"
      >
        <svg class="icon">
          <use href="/images/icons/mobile-wallet.svg#wallet"></use>
        </svg>
        <p class="media-icon__title">Wallet</p>
      </span>
      <h2 class="feature__heading">The only crypto wallet you'll ever need</h2>
      <ul class="feature__list">
        <li class="feature-item__description feature__item--active">
          <h3 class="feature-list__heading">Buy, sell, and swap with ease</h3>
          <p class="feature-list__detail">
            Use a card or bank account to buy BTC, ETH, stablecoins, and other
            assets.
          </p>
        </li>
        <li class="feature-item__description">
          <h3 class="feature-list__heading">Earn rewards on your crypto</h3>
          <p class="feature-list__detail">
            Get up to 10% in annual rewards by putting your crypto to work.
          </p>
        </li>
        <li class="feature-item__description">
          <h3 class="feature-list__heading">Self-custody your crypto</h3>
          <p class="feature-list__detail">
            Sleep better at night knowing only you can access your funds.
          </p>
        </li>
        <li class="feature-item__description">
          <h3 class="feature-list__heading">Connect to DeFi</h3>
          <p class="feature-list__detail">
            Use dapps, collect NFTs, and unlock the power of web3.
          </p>
        </li>
      </ul>
      <button class="btn media-btn btn--secondary">Get started</button>
    </div>
    <div class="feature-window">
      <div class="slider-item">
        <div class="slider-image">
          <picture class="picture active">
            <source
              type="image/png"
              srcset="
                images/home/app-earn-rewards.png    1x,
                images/home/app-earn-rewards@2x.png 2x
              "
            />
            <img
              class="feature__image"
              src="./images/home/app-earn-rewards.png"
              alt=""
            />
          </picture>
        </div>
        <div class="feature-item__description feature__item--active">
          <h3 class="feature-list__heading">Buy, sell, and swap with ease</h3>
          <p class="feature-list__detail">
            Use a card or bank account to buy BTC, ETH, stablecoins, and other
            assets.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-image">
          <picture class="picture">
            <source
              type="image/png"
              srcset="
                ./images/home/app-connect-defi.png    1x,
                ./images/home/app-connect-defi@2x.png 2x
              "
            />
            <img
              class="feature__image"
              src="./images/home/app-connect-defi.png"
              alt=""
            />
          </picture>
        </div>
        <div class="feature-item__description">
          <h3 class="feature-list__heading">Buy, sell, and swap with ease</h3>
          <p class="feature-list__detail">
            Get up to 10% in annual rewards by putting your crypto to work.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-image">
          <picture class="picture">
            <source
              type="image/png"
              srcset="
                ./images/home/app-ease.png  1x,
                images/home/app-ease@2x.png 2x
              "
            />
            <img
              class="feature__image"
              src="./images/home/app-ease.png"
              alt=""
            />
          </picture>
        </div>
        <div class="feature-item__description">
          <h3 class="feature-list__heading">Self-custody your crypto</h3>
          <p class="feature-list__detail">
            Get up to 10% in annual rewards by putting your crypto to work.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-image">
          <picture class="picture">
            <source
              type="image/png"
              srcset="
                ./images/home/app-ease.png  1x,
                images/home/app-ease@2x.png 2x
              "
            />
            <img
              class="feature__image"
              src="./images/home/app-ease.png"
              alt=""
            />
          </picture>
        </div>
        <div class="feature-item__description">
          <h3 class="feature-list__heading">Self-custody your crypto</h3>
          <p class="feature-list__detail">
            Get up to 10% in annual rewards by putting your crypto to work.
          </p>
        </div>
      </div>
    </div>
    <div class="navigator">
      <span class="slider-icons__container">
        <span class="slider-icon slider-icon--secondary">
          <svg class="arrow--left">
            <use href="images/icons/arrow.svg#arrow"></use>
          </svg>
        </span>
        <span class="slider-icon slider-icon--secondary">
          <svg class="arrow--right">
            <use href="images/icons/arrow.svg#arrow"></use>
          </svg>
        </span>
      </span>
      <ul class="slider__dots">
        <li class="active-dot"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <button class="btn media-btn btn--secondary">Get started</button>
</article>
