<footer class="footer">
  <div class="sites">
    <svg class="nav__brand sites__brand-logo">
      <use href="./images/icons/logo-text.svg#logo"></use>
    </svg>
    <div class="separator-line"></div>
    <div class="social-sites">
      <a href="#">
        <img class="img-x" src="images/home/sites/x2.png" alt="" />
      </a>
      <a href="#">
        <img class="img-x" src="images/home/sites/linkedin2.png" alt="" />
      </a>
      <a href="#">
        <img class="img-x" src="images/home/sites/instagram2.png" alt="" />
      </a>
      <a href="#">
        <img class="img-x" src="images/home/sites/facebook2.png" alt="" />
      </a>
    </div>
  </div>
  <div class="footer__section">
    <div class="qr-img">
      <img
        src="./images/home/sites/QR_code_for_mobile.png"
        alt="a scannable qr image"
      />
      <p>Scan to Download</p>
    </div>
    <div class="list-container">
      <div class="collapsible footer__list-wrapper">
        <h3 class="footer-list__heading">Products</h3>
        <ul class="collapsible-content footer__list">
          <li class="footer-list__item"><a href="#">Wallet</a></li>
          <li class="footer-list__item"><a href="#">Exchange</a></li>
          <li class="footer-list__item"><a href="#">Explore</a></li>
          <li class="footer-list__item"><a href="#">Institutional</a></li>
          <li class="footer-list__item"><a href="#">Earn</a></li>
          <li class="footer-list__item"><a href="#">Pay</a></li>
        </ul>
      </div>
      <div class="collapsible footer__list-wrapper">
        <h3 class="footer-list__heading">Resources</h3>
        <ul class="collapsible-content footer__list">
          <li class="footer-list__item"><a href="#">APIs</a></li>
          <li class="footer-list__item"><a href="#">Blog</a></li>
          <li class="footer-list__item"><a href="#">Podcast</a></li>
          <li class="footer-list__item"><a href="#">BitCoin Price</a></li>
          <li class="footer-list__item"><a href="#">Ethereum Price</a></li>
          <li class="footer-list__item"><a href="#">Solana Price</a></li>
        </ul>
      </div>
      <div class="collapsible footer__list-wrapper">
        <h3 class="footer-list__heading">Products</h3>
        <ul class="collapsible-content footer__list">
          <li class="footer-list__item"><a href="#">About</a></li>
          <li class="footer-list__item"><a href="#">Careers</a></li>
          <li class="footer-list__item"><a href="#">Prime</a></li>
          <li class="footer-list__item"><a href="#">Ventures</a></li>
          <li class="footer-list__item"><a href="#">Support</a></li>
          <li class="footer-list__item"><a href="#">Legal & Privacy</a></li>
        </ul>
      </div>
      <div class="collapsible footer__list-wrapper">
        <h3 class="footer-list__heading">Learn</h3>
        <ul class="collapsible-content footer__list">
          <li class="footer-list__item">
            <a href="#">What is Bitcoin?</a>
          </li>
          <li class="footer-list__item">
            <a href="#">What is crypto wallet?</a>
          </li>
          <li class="footer-list__item"><a href="#">What is a DEX?</a></li>
          <li class="footer-list__item"><a href="#">Learning Portal</a></li>
        </ul>
      </div>
      <div class="collapsible footer__list-wrapper">
        <h3 class="footer-list__heading">Buying Guides</h3>
        <ul class="collapsible-content footer__list">
          <li class="footer-list__item"><a href="#">Buy BTC</a></li>
          <li class="footer-list__item"><a href="#">Buy ETH</a></li>
          <li class="footer-list__item"><a href="#">Buy SOL</a></li>
          <li class="footer-list__item"><a href="#">Buy ZETA</a></li>
          <li class="footer-list__item"><a href="#">Buy XRP</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sites-lang-wrapper">
    <div class="download-sites">
      <a href="#">
        <img src="./images/icons/app-store.svg" alt="" />
      </a>
      <a href="#">
        <img src="./images/icons/play-store.svg" alt="" />
      </a>
    </div>
    <div class="social-sites">
      <a href="#">
        <img class="img-x" src="images/home/sites/x2.png" alt="" />
      </a>
      <a href="#">
        <img class="img-x" src="images/home/sites/linkedin2.png" alt="" />
      </a>
      <a href="#">
        <img class="img-x" src="images/home/sites/instagram2.png" alt="" />
      </a>
      <a href="#">
        <img class="img-x" src="images/home/sites/facebook2.png" alt="" />
      </a>
    </div>
    <div class="lang-copyright">
      <div class="lang-select">
        <svg class="icon">
          <use href="./images/icons/globe.svg#globe"></use>
        </svg>
        <select class="lang-select-dropdown">
          <option value="eng" selected>English</option>
          <option value="esp">Español</option>
          <option value="portu">Português</option>
          <option value="russ">Русский</option>
          <option value="turc">Türkçe</option>
        </select>
      </div>
      <div class="copyright">
        <svg class="icon">
          <use href="./images/icons/copyright.svg#copy"></use>
        </svg>
        <span class="footer-list__item">Blockchain.com</span>
      </div>
    </div>
  </div>
</footer>
