<div class="collapsible search-block collapsible--expande">
  <div class="search-input-wrapper">
    <svg class="search-icon">
      <use href="images/icons/search.svg#search"></use>
    </svg>
    <input
      class="input"
      type="text"
      placeholder="Search blocks, transactions, hash..."
    />
  </div>
  <div class="collapsible-content">
    <ul class="block__list">
      <h4 class="block__list-heading">Blocks</h4>
      <li class="search-item">
        <a href="#" class="search-item__link">
          <svg class="block-icon">
            <use href="images/icons/block.svg#block"></use>
          </svg>
          BTC Block
        </a>
      </li>
      <li class="search-item">
        <a href="#" class="search-item__link">
          <svg class="block-icon">
            <use href="images/icons/block.svg#block"></use>
          </svg>
          BCH Block
        </a>
      </li>
      <li class="search-item">
        <a href="#" class="search-item__link">
          <svg class="block-icon">
            <use href="images/icons/block.svg#block"></use>
          </svg>
          ETH Block
        </a>
      </li>
    </ul>
    <ul class="searchable-list">
      <li><a class="searchable__item" href="#">Prices</a></li>
      <li><a class="searchable__item" href="#">Blocks</a></li>
      <li>
        <a class="searchable__item" href="#">Transactions</a>
      </li>
      <li><a class="searchable__item" href="#">Charts</a></li>
    </ul>
  </div>
</div>
